[user]
	email = josef.gottlander@gmail.com
	name = Josef Gottlander
[alias]
	hist = log --all --decorate --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	tree = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
[core]
	editor = vim
[push]
	default = simple
[credential]
	helper = "!f() { /var/home/josef/.vscode-server/bin/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/node /tmp/vscode-remote-containers-e8cf2845-a625-4520-8bcf-b0bc10263af1.js git-credential-helper $*; }; f"
