[Unit]
Description=

[Service]
ExecStart=/bin/bash /home/josef/.config/EmuDeck/backend//tools/cloudSync/cloud_sync_watcher.sh

[Install]
WantedBy=default.target
