[Unit]
Description=Nextcloud cron.php job

[Service]
ExecCondition=podman exec -u josef nextcloud php -f /var/www/html/occ status -e
ExecStart=podman exec -u josef nextcloud php /var/www/html/cron.php
KillMode=process
