[Unit]
Description=Backs up home to externa

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -aP --delete %h/RetroPie /mnt/externa/Backup/josef/RetroPie/ --exclude 'roms'
ExecStart=/usr/bin/rsync -aP --delete %h/RetroPie/roms /mnt/externa/Spel/
