[Unit]
Description=Backs up home to externa

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -aP --delete %h/Emulation /mnt/externa/Backup/bazzite/ --exclude 'roms'
ExecStart=/usr/bin/rsync -aP --delete %h/Emulation/roms /mnt/externa/Spel/
