[Unit]
Description=Back up podman volumes

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -aP --delete %h/.local/share/containers/storage/volumes /mnt/externa/Backup/podman/
