[Unit]
Description=Backs up home to externa
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -aP --delete %h/RetroPie /mnt/externa/Backup/josef/RetroPie/ --exclude 'roms'
ExecStart=/usr/bin/rsync -aP --delete %h/RetroPie/roms /mnt/externa/Spel/
