# Template config file for databas-v2

[client]
user=josef
password=skabb123
# host for cygwin och äldre WSL
#host=127.0.0.1

# host for WSL2 bash, change <hostname> to its real value
#host=<hostname>.local

#port=3306
#protocol=tcp

[mysql]
# To allow for using LOAD DATA INFILE
loose-local-infile = 1
table=true
