[Container]
ContainerName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:latest
AutoUpdate=registry
NoNewPrivileges=true
PublishPort=13378:80
Volume=/mnt/media/Ljudböcker:/audiobooks
Volume=/mnt/media/Böcker:/books
Volume=/mnt/media/Podcasts:/podcasts
Volume=audiobookshelf_config:/config
Volume=audiobookshelf_data:/metadata
Environment=TZ=Europe/Stockholm

[Service]
Restart=always

[Install]
#WantedBy=default.target
