[Unit]
Description=Bazaar container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=bazarr
Image=ghcr.io/hotio/bazarr
AutoUpdate=registry
Network=gluetun.container
UserNS=host

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Stockholm
Environment=UMASK=002
Environment=WEBUI_PORTS=6767/tcp

Volume=bazaar_data:/config
Volume=/mnt/media/Filmer:/data/movies:z
Volume=/mnt/media/Serier:/data/tv:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
