[Unit]
Description=Bazaar container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=bazarr
Image=lscr.io/linuxserver/bazarr:latest
AutoUpdate=registry
Network=gluetun.container
UserNS=keep-id
GroupAdd=keep-groups
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
Volume=bazaar_data:/config
Volume=/mnt/media/Filmer:/movies:z
Volume=/mnt/media/Serier:/tv:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
