[Unit]
Description=Bazaar container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=bazarr
Image=lscr.io/linuxserver/bazarr:latest
AutoUpdate=registry
Pod=vpn_stack.pod
UserNS=keep-id
GroupAdd=keep-groups
#User=1000:1000
#Environment=PUID=0
#Environment=PGID=0
Environment=TZ=Europe/Stockholm
Volume=bazaar_data:/config
Volume=/mnt/media/Filmer:/movies
Volume=/mnt/media/Serier:/tv

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
