[Unit]
Description=Caddy webserver
After=network.target local-fs.target

[Container]
ContainerName=caddy
Image=docker.io/library/caddy:alpine
AutoUpdate=registry
Pod=nextcloud.pod
AddCapability=CAP_NET_ADMIN
Environment=EMAIL=josef.gottlander@gmail.com

Volume=./Caddyfile:/etc/caddy/Caddyfile
Volume=caddy_data:/data
Volume=nextcloud_data:/var/www/html
Notify=true

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
