[Unit]
Description=Cleanuparr
After=local-fs.target network.target

[Container]
ContainerName=cleanuparr
Image=ghcr.io/cleanuparr/cleanuparr:latest
AutoUpdate=registry
Network=gluetun.container
Volume=cleanuparr_data:/config
User=0
UserNS=keep-id:uid=1000,gid=1000
GroupAdd=keep-groups
Environment=PORT=11011
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
#WantedBy=default.target
