[Unit]
Description=Cloudflare
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=cloudflare
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry
Network=host
EnvironmentFile=./cloudflare.env

Exec=tunnel --no-autoupdate run

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
