[Unit]
Description=Collabora Online Development Edition
After=network-online.target local-fs.target

[Container]
ContainerName=collabora
Image=docker.io/collabora/code:latest
AutoUpdate=registry
#User=1000:1000
Pod=nextcloud.pod
GroupAdd=keep-groups
#AddCapability=SYS_CHROOT
#AddCapability=SYS_ADMIN
#AddCapability=FOWNER
#AddCapability=CHOWN
Environment="extra_params=--o:ssl.enable=false --o:user_interface.use_integration_theme=false"
Environment=dictionaries="en_GB da_DK sv_SE"
Environment=domain=office.gottlander.eu

[Service]
Restart=always
TimeoutStartSec=900

[Install]
#WantedBy=multi-user.target default.target
