[Unit]
Description=Collabora Container
After=local-fs.target network.target
Requires=podman.socket

[Container]
ContainerName=collabora
Image=docker.io/collabora/code
AutoUpdate=registry
Pod=nextcloud.pod
UserNS=keep-id
GroupAdd=keep-groups
Volume=collabora_data:/etc/coolwsd

Environment=aliasgroup1=https://nextcloud.gottlander.eu:433,https://nextcloud\\.gottlander\\.eu:443
Environment=dictionaries="en_GB sv_SE da_DK"
Environment="extra_params=--o:ssl.enable=false --o:ssl.termination=true --o:user_interface.mode=compact"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
