[Unit]
Description=DuckDNS Service
After=network.target

[Container]
ContainerName=duckdns
Image=lscr.io/linuxserver/duckdns:latest
AutoUpdate=registry
#Timezone=local
#Notify=conmon
#CgroupsMode=enabled
Environment=SUBDOMAINS=jgottlander
Environment=TOKEN=ed06a841-5fbc-4e6f-b2b8-76a343f69c10
Environment=UPDATE_IP=ipv4
Environment=LOG_FILE=false

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
