[Unit]
Description=EmbyServer
After=local-fs.target network.target

[Container]
ContainerName=embyserver
#Image=docker.io/library/embyserver:latest
Image=emby/embyserver:latest
#AutoUpdate=registry
Network=host
Environment=UID=0
Environment=GID=0
Volume=embyserver_data:/config
Volume=/mnt/media:/media
Volume=/mnt/backup/emby:/backup
AddDevice=/dev/dri

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
