[Unit]
Description=EmbyServer
After=local-fs.target network.target

[Container]
ContainerName=embyserver
Image=lscr.io/linuxserver/emby:latest
#Image=emby/embyserver:latest
AutoUpdate=registry
UserNS=keep-id
User=1000:1000
PublishPort=8096:8096/tcp

Volume=embyserver_data:/config:Z
Volume=/mnt/externa/Media:/media:z
Volume=/mnt/externa/Backup/emby:/backup:z

AddDevice=/dev/dri

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
#WantedBy=default.target
