[Unit]
Description=GlueTun VPN container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=gluetun
Image=docker.io/qmcgaw/gluetun:v3
AutoUpdate=registry
Pod=vpn_stack.pod
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
Volume=gluetun_data:/gluetun
Environment=VPN_SERVICE_PROVIDER=mullvad
Environment=VPN_TYPE=wireguard
Environment=WIREGUARD_PRIVATE_KEY=MFb/c20WjtDYyStSMsdwRJgLfxbZ6B4QvQUt+k7NLlo=
Environment=WIREGUARD_ADDRESSES=10.74.239.236/32
Environment=SERVER_CITIES=Malmö
Environment=TZ=Europe/Stockholm
Environment=UPDATER_PERIOD=24h
Environment=FIREWALL_VPN_INPUT_PORTS=6881

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
