[Unit]
Description=GlueTun VPN container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=gluetun
Image=docker.io/qmcgaw/gluetun:v3
AutoUpdate=registry
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun:/dev/net/tun
PodmanArgs=--privileged
Volume=gluetun_data:/gluetun

PublishPort=8081:8081
PublishPort=6881:6881
PublishPort=6881:6881/udp
PublishPort=8989:8989
PublishPort=9696:9696
PublishPort=8686:8686
PublishPort=7878:7878
PublishPort=5055:5055
PublishPort=6767:6767
PublishPort=5656:5656
PublishPort=8000:8000
PublishPort=11011:11011

Environment=TZ=Europe/Stockholm
Environment=VPN_SERVICE_PROVIDER=mullvad
Environment=VPN_TYPE=wireguard
Environment=WIREGUARD_PRIVATE_KEY=MFb/c20WjtDYyStSMsdwRJgLfxbZ6B4QvQUt+k7NLlo=
Environment=WIREGUARD_ADDRESSES=10.74.239.236/32
Environment=SERVER_CITIES=Malmö
Environment=UPDATER_PERIOD=24h
Environment=FIREWALL_VPN_INPUT_PORTS=6881

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
