[Unit]
Description=Home Assistant Server
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=home-assistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry
UserNS=host
GroupAdd=keep-groups
Volume=ha_data:/config
Volume=/run/dbus:/run/dbus:ro
Network=host
AddDevice=/dev/ttyACM0:/dev/ttyACM0
#PodmanArgs=--privileged
AddCapability=NET_ADMIN NET_RAW

Environment=TZ=Europe/Stockholm
Environment=PUID=1000
Environment=PGID=1000

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
