[Unit]
Description=Immich server
Wants=network-online.target
After=network-online.target local-fs.target immich-db.service immich-redis.service

[Container]
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:v2
AutoUpdate=registry
Pod=immich.pod
GroupAdd=keep-groups

Volume=/mnt/externa/Data/immich:/data:Z
Volume=/etc/localtime:/etc/localtime:ro
AddDevice=/dev/dri:/dev/dri

EnvironmentFile=./immich.env

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
