[Unit]
Description=Immich Valkey server
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=immich-redis
Image=docker.io/valkey/valkey:9
Pod=immich.pod
GroupAdd=keep-groups

HealthCmd=redis-cli ping || exit 1
HealthInterval=10s
HealthTimeout=5s
HealthRetries=3

Volume=immich-redis_data:/data:Z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target immich-server.container
