[Unit]
Description=Immich server
Wants=network-online.target immich-db.service immich-redis.service immich-ml.service
After=network-online.target immich-db.service immich-redis.service immich-ml.service

[Container]
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:release
AutoUpdate=registry
Pod=immich.pod
GroupAdd=keep-groups

Volume=/mnt/externa/Data/immich:/data:z
Volume=/etc/localtime:/etc/localtime:ro
AddDevice=/dev/dri:/dev/dri

EnvironmentFile=./immich.env

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
