[Unit]
Description=Jellyfin Media Server
After=local-fs.target network.target

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
UserNS=keep-id
User=1000:1000
PublishPort=8096:8096/tcp
IP=10.89.1.6
HostName=retropie
Network=jellyfin-bridge.network
Volume=jellyfin_data:/config
Volume=jellyfin_cache:/cache
Volume=/mnt/media:/media
Volume=/mnt/backup/jellyfin:/backup
AddDevice=/dev/dri:/dev/dri

[Service]
Restart=on-failure
TimeoutStartSec=900
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
