[Unit]
Description=Jellyseerr
After=network.target

[Container]
ContainerName=jellyseerr
Image=docker.io/fallenbagel/jellyseerr
AutoUpdate=registry
GroupAdd=keep-groups
Network=gluetun.container
Environment=LOG_LEVEL=debug
#PublishPort=5055:5055
Volume=jellyseerr_data:/app/config

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
