[Unit]
Description=Lidarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=lidarr
Image=lscr.io/linuxserver/lidarr:latest
AutoUpdate=registry
GroupAdd=keep-groups
UserNS=keep-id
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
Network=gluetun.container
Volume=lidarr_data:/config
Volume=/mnt/media/Musik:/music:z
Volume=/mnt/externa/Nedladdningar:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
