[Unit]
Description=Lidarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=lidarr
Image=ghcr.io/hotio/lidarr
AutoUpdate=registry
UserNS=host

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Stockholm
Environment=UMASK=002
Network=gluetun.container
Volume=lidarr_data:/config
Volume=/mnt/media/Musik:/data/music:z
Volume=/mnt/externa/Nedladdningar:/data/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
