[Unit]
Description=Lyrion Music Server
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=lms
Image=lmscommunity/lyrionmusicserver:latest
PublishPort=9000:9000/tcp
PublishPort=9091:9090/tcp
PublishPort=3483:3483/tcp
PublishPort=3483:3483/udp
#Environment=PUID=1000
#Environment=PGID=1000
Volume=lms_data:/config
Volume=/mnt/media/Musik:/music
Volume=/mnt/media/Musik/playlist:/playlist
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/timezone:/etc/timezone:ro

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
