[Unit]
Description=Mealie container
After=local-fs.target network.target

[Container]
ContainerName=mealie
Image=ghcr.io/mealie-recipes/mealie:v3.3.0
AutoUpdate=registry
UserNS=keep-id
GroupAdd=keep-groups
PublishPort=9925:9000
Volume=mealie_data:/app/data

Environment=ALLOW_SIGNUP=false
Environment=BASE_URL=https://mealie.gottlander.eu
Secret=openai-key,type=env,target=OPENAI_API_KEY

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
