[Unit]
Description=Redis Cache Server
After=network.target

[Container]
ContainerName=nextcloud-redis
Image=docker.io/library/redis:latest
AutoUpdate=registry
Pod=nextcloud.pod
GroupAdd=keep-groups
Volume=nextcloud-redis_data:/data
Exec=redis-server --requirepass nextcloud

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
