[Unit]
Description=Nextcloud Container
After=local-fs.target network.target nextcloud-db.service nextcloud-redis.service
Requires=podman.socket

[Container]
ContainerName=nextcloud
Image=docker.io/library/nextcloud:fpm
AutoUpdate=registry
Pod=nextcloud.pod
GroupAdd=keep-groups
Volume=nextcloud_data:/var/www/html
Volume=/mnt/externa/Data/nextcloud:/var/www/html/data:Z
AddDevice=/dev/dri:/dev/dri

Environment=MYSQL_HOST=nextcloud-db
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud
Environment=MYSQL_PASSWORD=nextcloud
Environment=NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.gottlander.eu
Environment=OVERWRITEPROTOCOL=https

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
