[Unit]
Description=MariaDB for NextCloud
After=local-fs.target network.target
Requires=podman.socket

[Container]
ContainerName=nextcloud-db
Image=docker.io/library/mariadb:10.11
AutoUpdate=registry
Volume=nextcloud-db_data:/var/lib/mysql
Pod=nextcloud.pod
GroupAdd=keep-groups
Environment=PUID=1000
Environment=PGID=1000
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud
Environment=MYSQL_PASSWORD=nextcloud
Environment=MYSQL_ROOT_PASSWORD=nextcloud
Environment=TZ=Europe/Stockholm

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
