[Unit]
Description=MariaDB for NextCloud
After=local-fs.target network.target
Requires=podman.socket

[Container]
ContainerName=nextcloud-db
Image=docker.io/library/mariadb:10.11
AutoUpdate=registry
Volume=nextcloud-db_data:/var/lib/mysql
Pod=nextcloud.pod
UserNS=keep-id
GroupAdd=keep-groups
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud
Environment=MYSQL_PASSWORD=nextcloud
Environment=MYSQL_ROOT_PASSWORD=nextcloud

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
