[Unit]
Description=Paperless Tika
After=network-online.target local-fs.target

[Container]
ContainerName=paperless-tika
Image=docker.io/apache/tika:latest
AutoUpdate=registry
Pod=paperless.pod
UserNS=keep-id
GroupAdd=keep-groups
User=1000:1000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
