[Unit]
Description=Papernless Gotenberg
After=network-online.target local-fs.target

[Container]
ContainerName=paperless-gotenberg
Image=docker.io/gotenberg/gotenberg:8.24
AutoUpdate=registry
Pod=paperless.pod
Exec=gotenberg --chromium-disable-javascript=true --chromium-allow-list=file:///tmp/.*
UserNS=keep-id
GroupAdd=keep-groups
User=1000:1000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
