[Unit]
Description=Profilarr container
After=network-online.target local-fs.target

[Container]
ContainerName=profilarr
Image=ghcr.io/dictionarry-hub/profilarr:latest
AutoUpdate=registry
PublishPort=6868:6868
GroupAdd=keep-groups
UserNS=keep-id
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
#Environment=PARSER_HOST=parser
#Environment=PARSER_PORT=5000
Volume=profilarr_data:/config

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
