[Unit]
Description=Prowlarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=prowlarr
Image=lscr.io/linuxserver/prowlarr:latest
AutoUpdate=registry
UserNS=keep-id
GroupAdd=keep-groups
Network=gluetun.container
Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Europe/Stockholm
Volume=prowlarr_data:/config

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
