[Unit]
Description=Prowlarr container
Wants=network-online.target
After=network-online.target local-fs.target gluetun.container

[Container]
ContainerName=prowlarr
Image=lscr.io/linuxserver/prowlarr:latest
AutoUpdate=registry
Pod=vpn_stack.pod
Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Stockholm
Volume=prowlarr_data:/config
Network=gluetun.container

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
