[Unit]
Description=Pyload container
Wants=network-online.target
After=network-online.target local-fs.target gluetun.service

[Container]
ContainerName=pyload-ng
Image=lscr.io/linuxserver/pyload-ng:latest
AutoUpdate=registry
User=0
Pod=vpn_stack.pod
Volume=pyload_data:/config
Volume=/mnt/externa/Nedladdningar:/downloads

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
