[Unit]
Description=qBittorrent container
Wants=network-online.target
After=network-online.target local-fs.target gluetun.container

[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
Pod=vpn_stack.pod
Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Stockholm
Environment=WEBUI_PORT=8080
Environment=TORRENTIG_PORT=6881
Volume=qbittorrent_data:/config
Volume=/mnt/externa/Nedladdningar:/downloads
Network=gluetun.container

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
