[Unit]
Description=qBittorrent container
Wants=network-online.target
After=network-online.target local-fs.target gluetun.service

[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry

GroupAdd=keep-groups
UserNS=keep-id

Network=gluetun.container

Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Europe/Stockholm
Environment=WEBUI_PORT=8081
Environment=TORRENTIG_PORT=6881

Volume=qbittorrent_data:/config
Volume=/mnt/externa/Nedladdningar:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
