[Unit]
Description=qBittorrent container
Wants=network-online.target
After=network-online.target local-fs.target gluetun.service

[Container]
ContainerName=qbittorrent
Image=ghcr.io/hotio/qbittorrent
AutoUpdate=registry

#GroupAdd=keep-groups
UserNS=host

Network=gluetun.container

Environment=PUID=0
Environment=PGID=0
Environment=UMASK=002
Environment=LIBTORRENT=v1
Environment=TZ=Europe/Stockholm
Environment=WEBUI_PORTS=8081/tcp
Environment=TORRENTIG_PORT=6881

Volume=qbittorrent_data:/config
Volume=/mnt/externa/Nedladdningar:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
