[Unit]
Description=Qui container
After=network-online.target local-fs.target

[Container]
ContainerName=qui
Image=ghcr.io/hotio/qui
AutoUpdate=registry
Network=gluetun.container
User=0
UserNS=keep-id:uid=1000,gid=1000
GroupAdd=keep-groups

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
Environment=UMASK=002
Environment=WEBUI_PORTS=7476/tcp

Volume=qui_data:/config
Volume=/mnt/externa/Nedladdningar:/data/downloads

[Service]
Restart=always
TimeoutStartSec=900

[Install]
#WantedBy=multi-user.target default.target
