[Unit]
Description=Radarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry
Pod=vpn_stack.pod
UserNS=keep-id
GroupAdd=keep-groups
Volume=radarr_data:/config
Volume=/mnt/media/Filmer:/movies
Volume=/mnt/externa/Nedladdningar:/downloads
Network=gluetun.container

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
