[Unit]
Description=Radarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry
Network=gluetun.container
GroupAdd=keep-groups
UserNS=keep-id

Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Europe/Stockholm

Volume=radarr_data:/config
Volume=/mnt/media/Filmer:/movies:z
Volume=/mnt/externa/Nedladdningar:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
