[Unit]
Description=Radarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=radarr
Image=ghcr.io/hotio/radarr
AutoUpdate=registry
Network=gluetun.container
UserNS=host

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Stockholm
Environment=UMASK=002

Volume=radarr_data:/config
Volume=/mnt/media/Filmer:/data/movies:z
Volume=/mnt/externa/Nedladdningar:/data/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
