[Unit]
Description=RomM container
After=local-fs.target network.target

[Container]
ContainerName=romm
Image=docker.io/rommapp/romm:latest
AutoUpdate=registry
Pod=romm.pod
UserNS=keep-id
User=1000:1000

Volume=romm_resources:/romm/resources
Volume=romm_redis_data:/redis-data
Volume=%h/RetroPie/:/romm/library
Volume=%h/RetroPie/assets:/romm/assets
Volume=romm_config:/romm/config

Environment=DB_HOST=romm-db
Environment=DB_NAME=romm
Environment=DB_USER=romm-user
Environment=DB_PASSWD=skabb123
Environment=ROMM_AUTH_SECRET_KEY=ff74f5ed2dcdaa3dd453c40ca06bb6bddc8059c3613bf38f1d20e66ac38e2af3
Environment=SCREENSCRAPER_USER=josef.gottlander@gmail.com
Environment=SCREENSCRAPER_PASSWORD=p3TtG3ecqvE9aB6vy64K
Environment=HASHEOUS_API_ENABLED=true

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
