[Unit]
Description=MariaDB for RomM container
After=local-fs.target network.target

[Container]
ContainerName=romm-db
Image=docker.io/library/mariadb:latest
AutoUpdate=registry
UserNS=keep-id
GroupAdd=keep-groups
Volume=romm-db_data:/var/lib/mysql
Pod=romm.pod

Environment=MARIADB_ROOT_PASSWORD=IXjL3kr9HwIqnByESuEa
Environment=MARIADB_DATABASE=romm
Environment=MARIADB_USER=romm-user
Environment=MARIADB_PASSWORD=skabb123

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
