[Unit]
Description=Jellyseerr
After=network.target

[Container]
ContainerName=seerr
Image=ghcr.io/hotio/seerr
AutoUpdate=registry
User=0
UserNS=keep-id:uid=1000,gid=1000
GroupAdd=keep-groups
PublishPort=5055:5055

Environment=TZ=Europe/Stockholm
Environment=WEBUI_PORT=5055/tcp
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Volume=seerr_data:/config

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
