[Unit]
Description=Jellyseerr
After=network.target

[Container]
ContainerName=seerr
Image=ghcr.io/hotio/seerr
AutoUpdate=registry
UserNS=host
Environment=TZ=Europe/Stockholm
Environment=WEBUI_PORT=5055
Environment=PUID=0
Environment=PGID=0
Environment=UMASK=002
PublishPort=5055:5055
Volume=jellyseerr_data:/config

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
