[Unit]
Description=Sonarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=sonarr
Image=ghcr.io/hotio/sonarr
AutoUpdate=registry
UserNS=host

Environment=PUID=0
Environment=PGID=0
Environment=UMASK=002
Environment=TZ=Europe/Stockholm

Network=gluetun.container

Volume=sonarr_data:/config
Volume=/mnt/media/Serier:/data/tv:z
Volume=/mnt/externa/Nedladdningar:/data/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
