[Unit]
Description=Sonarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry
UserNS=keep-id
GroupAdd=keep-groups
Pod=vpn_stack.pod
Volume=sonarr_data:/config
Volume=/mnt/media/Serier:/tv
Volume=/mnt/externa/Nedladdningar:/downloads
Network=gluetun.container

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
