[Unit]
Description=Sonarr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry
UserNS=keep-id
GroupAdd=keep-groups
Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Europe/Stockholm
Network=gluetun.container

Volume=sonarr_data:/config
Volume=/mnt/media/Serier:/tv:z
Volume=/mnt/externa/Nedladdningar:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
