[Unit]
Description=File synchronization tool
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=syncthing
Image=syncthing/syncthing:latest
#AutoUpdate=registry
Environment=PUID=0
Environment=PGID=0
#UserNS=host
Volume=syncthing_data:/var/syncthing
Volume=/mnt/externa/Data:/data:rw
Network=host

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
