[Unit]
Description=File synchronization tool
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=syncthing
Image=docker.io/syncthing/syncthing:latest
AutoUpdate=registry
UserNS=keep-id
GroupAdd=keep-groups
Volume=syncthing_data:/var/syncthing
Volume=/mnt/externa/Data:/data
Network=host

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
