[Unit]
Description=MongoDB for UniFi Network Application
After=local-fs.target network.target
Requires=podman.socket

[Container]
ContainerName=unifi-db
Image=docker.io/mongodb/mongodb-community-server:8.0-ubuntu2204
AutoUpdate=registry
Pod=unifi.pod
#UserNS=keep-id
#GroupAdd=keep-groups
#User=0

Volume=unifi-db_data:/data/db
Volume=./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro

Environment=MONGO_INITDB_ROOT_USERNAME=root
Environment=MONGO_INITDB_ROOT_PASSWORD=unifi
Environment=MONGO_USER=unifi
Environment=MONGO_PASS=unifi
Environment=MONGO_DBNAME=unifi
Environment=MONGO_AUTHSOURCE=admin

#HealthCmd="echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet"
#HealthInterval=10s
#HealthTimeout=10s
#HealthRetries=5
#HealthStartPeriod=30s

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
