[Unit]
Description=UniFi Network Application Container
After=local-fs.target network.target unifi-db.service
Requires=podman.socket

[Container]
ContainerName=unifi-network-application
Image=lscr.io/linuxserver/unifi-network-application:latest
AutoUpdate=registry
Pod=unifi.pod
Volume=unifi_data:/config
User=0

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
Environment=MONGO_USER=unifi
Environment=MONGO_PASS=unifi
Environment=MONGO_HOST=unifi-db
Environment=MONGO_PORT=27017
Environment=MONGO_DBNAME=unifi
Environment=MONGO_AUTHSOURCE=admin
Environment=MONGO_TLS=false

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target multi-user.target
