[Unit]
Description=Unpackerr container
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName=unpackerr
Image=ghcr.io/hotio/unpackerr
AutoUpdate=registry
UserNS=host
Network=gluetun.container
Volume=/mnt/externa/Nedladdningar:/data/downloads:z

Environment=TZ=Europe/Stockholm
Environment=PUID=0
Environment=PGID=0
Environment=UMASK=002

Environment=UN_LOG_FILE=/data/downloads/unpackerr.log
Environment=UN_SONARR_0_URL=http://localhost:8989
Environment=UN_SONARR_0_API_KEY=6346a5b51e2b45d084e9cea10d0d6dec
Environment=UN_RADARR_0_URL=http://localhost:7878
Environment=UN_RADARR_0_API_KEY=df28a057ead54840bb4ab3921e9ad528
Environment=UN_WEBSERVER_METRICS=true

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
